[Desktop Entry]
Name=Xonsh
Comment=Xonsh is a Python-powered shell.
Exec=xonsh
Icon=io.github.xonsh.xonsh
Terminal=true
Type=Application
Categories=System;TerminalEmulator;
Keywords=shell;terminal;python;
